*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0F0D13;
}

.outsideBox{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.backgroundColorPlayer{
    background-color: #2A2141;

    width: 400px;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

}

.imageBox img{
    height: 300px;
    width: 300px;

    margin-top: 80px;

    border-radius: 10px;
}

.description{
    width: 100%;

    margin: 10px 0 0 60px;
}

.description h2{
    color: #E1E1E6;
}

.description h3{
    color: #E1E1E6;
    opacity: 67%;
}

.buttonsSvg{
    display: flex;
    justify-content: space-evenly;

    width: 100%;

    margin-top: 40px;

}

.musicTime{
    width: 100%;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    margin-top: 40px;
}

.barTime{
    background-color: gray;
    border-radius: 30px;
    width: 80%;
    height: 10px;
}

.time{
    display: flex;
    justify-content: space-around;

    width: 100%;

    padding-top: 5px;
    margin: 10px 0 70px 0;
}